{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Home page"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Changed href-->     <link rel="stylesheet" type="text/css" href="../../static/css/admin/historystyle.css"/>
        <title>NITK History</title>    
    </head>
    <body>
        <div class="header">
            <div class="top-bar">
                <div id="contact-details">
                    <i class="material-icons">email</i>
                    <a href="">abhinaba.fbr@gmail.com</a>
                    <i class="material-icons">phone</i>
                    <a href="">+91 8389095133</a>
                </div>
                <div id="login-tab">
                    <p>Login</p>
                    <div id="sub-login">
                        <ul id="sub-login">
                           <li><a href='adminLogin'>Admin</a></li>
                            <li><a href="student/login">Student</a></li>
                        </ul>
                    </div>
                </div>
                <div id="already-loggedin-tab">
                    <p><a href="">Profile</a></p>
                    <p><a href="">Logout</a></p>
                </div>
            </div>
            <!--Done top-bar-->

            <div class="nav-bar">
                <ul type="none">
                    <li><a href="/">Home</a></li>
                    <li id="institute"><a href="" id="ins">Institute</a>
                        <div id="institute-submenu">
                            <ul>
                                <li><a href="campus">Campus</a></li>
                                <li><a href="">History</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="programs">Programs</a></li>
                    <li><a href="ranking">Ranking</a></li>
                </ul>
            </div>
            <!--Done nav-bar-->
        </div>
        <!--Done header-->

        <div class="main">
            <div class="placard">
 <!--src changed-->               <img src="../../static/img/milestone.png"/>
            </div>
            <!--Done placard-->

            <div class="milestone-container">
                <h2>Important Milestones</h2>
                <ul>
                    <li>
                        <div id="mile">
                            <h4>2019</h4>
                            <p>Diamond Jubilee celebrations started.
                                New Sports Complex with a total built-up area of 7,491 sqm inaugurated.
                                Direct Admission of Students Abroad (DASA) coordinated. </p>
                        </div>
                    </li>
                    <li>
                        <div id="mile">
                            <h4>2018</h4>
                            <p>HEFA grant to strengthen Central Research Facility, and infrastructural development fund received.
                                New academic and residential buildings about 54,840 sqm inaugurated (CSE, Chemical, Applied Mechanics, Basic Sciences, Library, Staff quarters and Girls hostel). </p>
                        </div>
                    </li>
                    <li>
                        <div id="mile">
                            <h4>2017</h4>
                            <p>Lecture Hall Complex with a total built-up area of about 8,193 sqm.
                                Vertical extension of new Mechanical Engineering block (4th, 5th and 6th floors) with a total built-up area of about 6,355 sqm inaugurated.
                                TEQIP-III commences. </p>
                        </div>
                    </li>
                    <li>
                        <div id="mile">
                            <h4>2016</h4>
                            <p>Centralized counselling for M.Tech/M.Arch/M. Plan (CCMT) coordinated by the Institute.
                                Installation of total 1MWp (1000KWp) Capacity SolarPower Plants at the rooftop of 18 existing buildings on RESCO model of the Ministry of New and Renewable Energy through Solar Energy Corporation of India</p>
                        </div>
                    </li>
                    <li><div id="mile">
                            <h4>2015</h4>
                            <p>Mentored IIIT Dharwad entrusted by MoE. </p>
                        </div>
                    </li>
                    <li>
                        <div id="mile">
                            <h4>2014</h4>
                            <p>All the UG programmes got accredited for five years - Direct Admission of Students
                                Direct Admission of Students Abroad (DASA) coordinated for five continuous years (2010-2014)</p>
                        </div>
                    </li>
                    <li>
                        <div id="mile">
                            <h4>2012</h4>
                            <p>New ladies hostel with 347 occupants inaugurated. </p>
                        </div>
                    </li>
                    <li>
                        <div id="mile">
                            <h4>2011</h4>
                            <p>New boys mega hostel with 1512 occupant inaugurated.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!--Done milestone-->
        </div>
        <!--Done main-->

        <div class="footer">
            <div class="big-footer">
                <img src="{% static 'img/logo2.png' %}" width="40px"/>
                <h2>NITK Surathkal</h2>
                <p>NH 66, Srinivasnagar</p>
                <p>Surathkal, Mangalore</p>
                <p>Karnataka, 575025</p>
            </div>
            <div class="small-footer">
                <p>NITK Surathkal, 2021</p>
                <div id="media-links">
                    <a href="https://www.facebook.com/nitkarnatakaOfficial" class="fa fa-facebook" target="__blank"></a>
                    <a href="https://www.instagram.com/nitk.surathkal/" class="fa fa-instagram" target="__blank"></a>
                    <a href="https://twitter.com/surathkal_nitk " class="fa fa-twitter" target="__blank"></a>
                </div>
            </div>
        </div><!--Done footer-->

    </body>
</html>