{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Home page"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Changed href-->  <link rel="stylesheet" type="text/css" href="{% static 'css/admin/campustyle.css' %}"/>
        <title>NITK Campus</title>    
    </head>
    <body>
        <div class="header">
            <div class="top-bar">
                <div id="contact-details">
                    <i class="material-icons">email</i>
                    <a href="">abhinaba.fbr@gmail.com</a>
                    <i class="material-icons">phone</i>
                    <a href="">+91 8389095133</a>
                </div>
                <div id="login-tab">
                    <p>Login</p>
                    <div id="sub-login">
                        <ul id="sub-login">
                           <li><a href='adminLogin'>Admin</a></li>
                            <li><a href="student/login">Student</a></li>
                        </ul>
                    </div>
                </div>
                <div id="already-loggedin-tab">
                    <p><a href="">Profile</a></p>
                    <p><a href="">Logout</a></p>
                </div>
            </div>
            <!--Done top-bar-->

            <div class="nav-bar">
                <ul type="none">
                    <li><a href="/">Home</a></li>
                    <li id="institute"><a href="" id="ins">Institute</a>
                        <div id="institute-submenu">
                            <ul>
                                <li><a href="">Campus</a></li>
                                <li><a href="history">History</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="programs">Programs</a></li>
                    <li><a href="ranking">Ranking</a></li>
                </ul>
            </div>
            <!--Done nav-bar-->
        </div>
        <!--Done header-->

        <div class="main">
            <div class="placard">
                <i class="fa fa-building"></i>
                <h1>NITK Surathkal Amenities</h1>
                <p>The 295.35-acre campus caters to the needs of a comminity comprised of Faculty, Staff and Students. Staff club, shopping complex, banks with ATM facility, post office, schools, hospital, guest house, cafeterias, playground are present on the campus for the benefits of the residents.</p>
            </div>
            <!--Done placard-->

            <div class="block1">
                <div id="guest-house">
                    <h3>Guest House</h3>
                    <p>The Institute has four guest houses</p>
                    <ul>
                        <li>J C Bose Guest House</li>
                        <li>Vikram Sarabhai Guest House</li>
                        <li>Homi J Bhaba Guest House</li>
                        <li>International Hostel</li>
                    </ul>
                    <p>They are located on the western side of the National Highway (NH66), near the beach (Arabian Sea).</p>
                </div>
                <div id="sports-facilities">
                    <h3>Sports Facilities</h3>
                    <p>A full-fledged Physical Education & Sports Department with two Students’ Activity and Sports Officers (SAS Officers) and one Assistant Physical Director provide and manage sports, games and physical fitness facilities. Infrastructure facilities are available in the sports centre for indoor and outdoor sports. In addition, a swimming pool of international standard is also available. A new and modern Sports Complex has been set up in the campus which was inaugurated by the Honorable HRD Minister.</p>
                </div>
            </div>
            <!--Done block1-->

            <div class="block2">
                <div id="hostels">
                    <h3>Hostels</h3>
                    <p>Hostels for both boys and girls are available in the campus. The Institute being a residential campus, the majority of students (4500+) stay in hostels. There are 12 Hostel blocks for boys, 5 hostel blocks for girls with power backup. The Institute has an International Hostel too. Multiple dining halls offer a variety of cuisine for students. Reading room functions in each hostel with books and periodicals. All hostel rooms are provided with internet connection. Students actively participate in the management of hostels and dining halls. Major festivals are also celebrated in hostels. Central laundry facility is launched in the hostels from the academic year 2018-19. Student transportation facility is available from hostels to Lecture Hall Complexes/Departments and back.</p>
                </div>
                <div id="others">
                    <h3>Other Amenities</h3>
                    <h5>Heath Care Center</h5>
                    <p>A full-fledged Health Care Centre caters to the medical and health needs of the campus residents and students with state-of-the-art facilities, ambulance support and visiting specialists.</p>
                    <h5>Shopping Center</h5>
                    <p>Two shopping centers exists in the campus which include students’ and employees’ Cooperative Societies, bakery, vegetable shop, cloth shop, tailoring, saloon, beauty parlor, laundry, printing press, provisional store, among others</p>
                    <h5>Banks</h5>
                    <p>Two banks (Canara bank and State bank of India) with ATM facility are available in the campus.</p>
                </div>
            </div>

        </div>

        <div class="footer">
            <div class="big-footer">
                <img src="{% static 'img/logo2.png' %}" width="40px"/>
                <h2>NITK Surathkal</h2>
                <p>NH 66, Srinivasnagar</p>
                <p>Surathkal, Mangalore</p>
                <p>Karnataka, 575025</p>
            </div>
            <div class="small-footer">
                <p>NITK Surathkal, 2021</p>
                <div id="media-links">
                    <a href="https://www.facebook.com/nitkarnatakaOfficial" class="fa fa-facebook" target="__blank"></a>
                    <a href="https://www.instagram.com/nitk.surathkal/" class="fa fa-instagram" target="__blank"></a>
                    <a href="https://twitter.com/surathkal_nitk " class="fa fa-twitter" target="__blank"></a>
                </div>
            </div>
        </div><!--Done footer-->

    </body>
</html>